$primary-color: #215885;
$animation-duration: 0.4s;
$error-color: #FF5252;
$secondary-color: rgb(244, 249, 246);
$hover-text-color: #42b883;
$secondary-background: white;
$medium-mobile-width: 540px;
$default-radius: 5px;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-color;
}

@media screen and (min-width: $medium-mobile-width) {
  .container {
    min-width: 100px;
    max-width: 500px;
    margin: 0 auto;
    background-color: $secondary-color;
    border-radius: $default-radius;
    padding-top: 1px;
    padding: 25px;
  }

  #app {
    margin: 3%;
  }
}

@media screen and (max-width: $medium-mobile-width) {
  .container {
    background-color: transparent;
    padding: 1px;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.col {
  flex: 0 0 auto;
  width: 100%;
}

/* button element style */

.button {
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: $primary-color;
  border: none;
  color: $secondary-background;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: $default-radius;
  margin-top: 10px;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn:hover {
  background-color: $primary-color;
  color: $hover-text-color;
}

.error {
  color: $error-color;
  float: left;
  margin: 2px 5px 0;
}

/* The Display-toast - position it at the bottom of the screen */

section {
  visibility: hidden;
  margin: 5px;
  background-color: $error-color;
  text-align: center;
  border-radius: $default-radius;
  top: 30px;
  text-align: center;
  justify-content: center;
  display: block;
  width: auto;
  padding: 5px;
}

.toast-span {
  color: $secondary-background;
}

section.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the toast in and out */

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}

/* Mixins for label */

@mixin label-inactive() {
  font-size: 1.2rem;
  transform: translateY(0);
}

@mixin label-active() {
  font-size: 0.75rem;
  transform: translateY(-14px);
}

/* Form elements style  */

.form-field {
  display: block;
  margin-bottom: 36px;
}

.form-field-label {
  @include label-active();
  display: block;
  font-weight: normal;
  color: #929292;
  left: 0;
  margin: 0;
  padding: 18px 12px 0;
  position: absolute;
  top: 0;
  transition: all $animation-duration;
  width: 100%;
}

.form-field-control {
  background: $secondary-background;
  border-radius: $default-radius;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.form-field-bar {
  border-bottom: 2px solid $primary-color;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: all $animation-duration;
  width: 1%;
}

.form-field-input,
.form-field-textarea {
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #999;
  color: #333;
  display: block;
  font-size: 1.2rem;
  margin-top: 24px;
  outline: 0;
  padding: 0 12px 10px 12px;
  width: 100%;

  // IE 10-11
  &:-ms-input-placeholder {
    ~.form-field-label {
      @include label-inactive();
    }
  }

  // All other browsers except Edge
  &:placeholder-shown {
    ~.form-field-label {
      @include label-inactive();
    }
  }

  &:focus {
    ~.form-field-label {
      color: $primary-color;
      @include label-active();
    }

    ~.form-field-bar {
      border-bottom: 2px solid $primary-color;
      transform: scaleX(150);
    }
  }
}

.form-field-textarea {
  height: 150px;
  font-family: system-ui;
}